searchable-list {
    #jdPopUp
    {
        z-index: 10;
        height: 50%;
        width: 80%;
        margin: auto;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        overflow: scroll;
    }
}
